#root {
  height: 100vh;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
}
